body {
  margin: 0;
  padding: 0;
  background: #E2E2E2;
}

.container {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container .leftSidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
}

.container .content {
  margin-left: 250px;
}

.header {
  height: 50px;
}

.main {
  border-radius: 5px;
  margin: 30px 20px;
  padding: 30px;
  background: white;
}

.page-title {
  margin-bottom: 25px;
}